header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.jpg") center/cover no-repeat;
  height: 100vh;
  color: white;
}

.hero {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-45%);
  text-align: left;
  color: white;
  max-width: 600px;
  line-height: 1.5;
  
}

.hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero p {
  font-size:18px;
  margin-bottom: 28px;
  opacity: 0.95;
}

.btn-primary {
    background-color: #65b741;
    color: white;
    padding:12px 28px;
    border-radius:30px;
  
}
.btn-primary:hover {
  background-color: #4fa034;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 16px;
  
}

.btn-secondary:hover {
  background-color: white;
  color: #65b741;
}