header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.jpg") center/cover no-repeat;
  height: 100vh;
  color: white;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content .hero-title {
  max-width: 771px;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content .hero-description {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-content .hero-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.hero-content .see-catalog {
  background-color: #2e7d32;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
}
